{% extends "mana.html" %} {% block title%} Tài khoản{% endblock%} {%block mana_list%}

<table class="table table-success table-striped">
    <thead>
        <tr>

            <th scope="col">Frist Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Khác</th>

        </tr>
    </thead>
    {% for item in myuser %}
    <tbody>
        <tr>
            <th class="th-text">{{item.first_name}}</th>
            <th class="th-text">{{item.last_name}}</th>
            <th class="th-text">{{item.email}}</th>
            <th>
                <a href="{% url 'editUser' item.id%}" class="btn-edit" type="submit">Sửa</a>
                <a href="{% url 'deleteUser' item.id%}" class="btn-delete" type="submit">Xóa</a>
            </th>
        </tr>
    </tbody>
    {%endfor%}


</table>
{%endblock%}