{% extends "base.html" %} {% block content %}
<div id="name__card">
    <h2 class="name__title">Giới Thiệu </h2>
    <div class="list__school">
        {% for item in object_list %}
        <div class="card" style="width: 18rem;">
            <!--                <img src=".." class="card-img-top" alt="...">-->
            <div class="card-body">
                <h5 class="card-title">{{ item.TenTruong }} (<span>{{ item.MaTruong }})</span></h5>
                <p class="card-text">{{ item.Gioithieu}}</p>
                <a href="#" class="btn btn-primary">Xem thêm</a>
            </div>
        </div>
        {% endfor %}

    </div>

</div>
{% endblock %}